In [22]:
import pandas as pd
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report

# Bag of words model and Naive Bayes model

The bag of words model is a model that collects the words of a text and counts the amount of unique words.
The Naive Bayes model is a model that uses the Bayes law to find the probability of something is happening or not happening.

In [3]:
df = pd.read_csv('text_mining.csv')
df = df.loc[(df['Department Name'] == 'Dresses')]
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses

In [4]:
df['Department Name'].value_counts()

Dresses    6319
Name: Department Name, dtype: int64

In [6]:
dress_df = df.loc[(df['Class Name'] == 'Dresses')]
dress_df.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses

In [7]:
dress_df['Rating'].value_counts()

5    3397
4    1395
3     838
2     461
1     228
Name: Rating, dtype: int64

# Document feature Matrix

The countvectorizer places the words in a list. These will be put in a document feature matrix.

In [9]:
text = dress_df['Review Text'].values.astype('U') #Taking the text from the df. We need to convert it to Unicode

vect = CountVectorizer(stop_words='english') #Create the CV object, with English stop words
vect = vect.fit(text) #We fit the model with the words from the review text
vect
feature_names = vect.get_feature_names() #Get the words from the vocabulary
print(f"There are {len(feature_names)} words in the vocabulary. A selection: {feature_names[500:590]}")

There are 8080 words in the vocabulary. A selection: ['airier', 'airiness', 'airism', 'airline', 'airplane', 'airplanes', 'airport', 'airy', 'aize', 'aka', 'akward', 'al', 'alas', 'albeit', 'alerations', 'alert', 'alexandria', 'align', 'aligned', 'alignment', 'alike', 'aline', 'alining', 'alittle', 'alley', 'allison', 'allllllmost', 'allot', 'allover', 'allow', 'allowed', 'allowing', 'allows', 'alludes', 'alluring', 'allusion', 'allusione', 'almsot', 'alot', 'alr', 'alright', 'als', 'altar', 'alter', 'alteration', 'alterations', 'altered', 'altering', 'alternate', 'alternations', 'alternative', 'althetic', 'altho', 'altogether', 'am5', 'amadi', 'amalfi', 'amaz', 'amaze', 'amazed', 'amazement', 'amazing', 'amazingly', 'amazon', 'amd', 'amenable', 'american', 'amking', 'amoret', 'amorphous', 'amp', 'ample', 'amsterdam', 'amterial', 'analogy', 'andheavy', 'andrews', 'angel', 'angela', 'angle', 'angles', 'angora', 'animal', 'animals', 'anita', 'ankl', 'ankle', 'ankles', 'anna', 'annie']

In [10]:
docu_feat = vect.transform(text) 
print(docu_feat[0:90,0:90])

  (2, 8)	1
  (4, 72)	1
  (19, 80)	1
  (20, 38)	1
  (21, 4)	1
  (21, 45)	1
  (22, 12)	1
  (25, 55)	1
  (26, 40)	1
  (28, 60)	1
  (35, 12)	2
  (35, 59)	3
  (38, 86)	1
  (39, 31)	1
  (57, 72)	1
  (58, 0)	1
  (62, 59)	4
  (68, 12)	1
  (68, 59)	1
  (69, 72)	1
  (75, 45)	1
  (77, 33)	1
  (78, 83)	1
  (80, 12)	1

In [12]:
df_review_words = pd.concat([df, pd.DataFrame(docu_feat.toarray()).reset_index()], axis=1)
df_review_words.head(5)

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,...,8070,8071,8072,8073,8074,8075,8076,8077,8078,8079
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1080.0,34.0,NaN,Love this dress! it's sooo pretty. i happene...,5.0,1.0,4.0,General,Dresses,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,1077.0,60.0,Some major design flaws,I had such high hopes for this dress and reall...,3.0,0.0,0.0,General,Dresses,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
dress_df['rating2'] = dress_df['Rating'] > 3 
dress_df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,rating2
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,True
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,False
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,False
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses,True
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses,True

# Test and Train data.

In [16]:
y = dress_df['rating2'] #We need to take out the rating as our Y-variable
X = docu_feat #this slices the dataframe to include all rows and the columns from "action" to "metascore"
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

In [17]:
nb = MultinomialNB() #create the model

nb = nb.fit(X_train, y_train) #fit the model X=features, y=character

In [18]:
y_test_p = nb.predict(X_test)
nb.score(X_test, y_test)

0.8554852320675106

The accuracy of 0.85 is pretty good.

In [19]:
nb.classes_

array([False,  True])

In [20]:
cm = confusion_matrix(y_test, y_test_p)
cm = pd.DataFrame(cm, index=['Negative', 'Positive'], columns=['Negative pred', 'Positive pred'])
cm

          Negative pred  Positive pred
Negative            282            182
Positive             92           1340

In [23]:
print(classification_report(y_test, y_test_p, nb.classes_))

              precision    recall  f1-score   support

       False       0.75      0.61      0.67       464
        True       0.88      0.94      0.91      1432

    accuracy                           0.86      1896
   macro avg       0.82      0.77      0.79      1896
weighted avg       0.85      0.86      0.85      1896

In [24]:
dress_df['rating2'].value_counts(normalize=True)

True     0.758348
False    0.241652
Name: rating2, dtype: float64

In [25]:
print(df.iloc[0,4]) # takes the content from the 5th row 
print(nb.predict_proba(X[0])) # where the prediction = False

Love this dress!  it's sooo pretty.  i happened to find it in a store, and i'm glad i did bc i never would have ordered it online bc it's petite.  i bought a petite and am 5'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.
[[5.33741270e-05 9.99946626e-01]]

In [28]:
for i in range(3):
    prob = nb.predict_proba(X[i])
    print(f"Review: {i}. {df.iloc[i,4]}")
    print(f"False: {prob[0,0]}, Positive: {prob[0,1]}")

Review: 0. Love this dress!  it's sooo pretty.  i happened to find it in a store, and i'm glad i did bc i never would have ordered it online bc it's petite.  i bought a petite and am 5'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.
False: 5.337412695289174e-05, Positive: 0.9999466258730467
Review: 1. I had such high hopes for this dress and really wanted it to work for me. i initially ordered the petite small (my usual size) but i found this to be outrageously small. so small in fact that i could not zip it up! i reordered it in petite medium, which was just ok. overall, the top half was comfortable and fit nicely, but the bottom half had a very tight under layer and several somewhat cheap (net) over layers. imo, a major design flaw was the net over layer sewn directly into the zipper - it c
False: 0.9999990978503296, Positive: 9.021496679830375e-07
Review: 2. I love tracy reese dresses, but this one is not for the very petite. i am just under 5 feet tall and usually wear a 0p in this brand. this dress was very pretty out of the package but its a lot of dress. the skirt is long and very full so it overwhelmed my small frame. not a stranger to alterations, shortening and narrowing the skirt would take away from the embellishment of the garment. i love the color and the idea of the style but it just did not work on me. i returned this dress.
False: 0.8994490532230259, Positive: 0.10055094677695622